<a href="https://colab.research.google.com/github/ajuanna/The-Spark-Foundation/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np  
import matplotlib.pyplot as plt  
%matplotlib inline

url = "http://bit.ly/w-data"
fdata = pd.read_csv(url)
print("Data imported successfully")

fdata.head(10)

Data imported successfully

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30
5    1.5      20
6    9.2      88
7    5.5      60
8    8.3      81
9    2.7      25

In [ ]:
fdata.plot(x='Hours', y='Scores', style='o')
plt.xlabel('Hours studied')
plt.ylabel('Percentage scored')
plt.title('Hours vs Percentage')
plt.show(

In [ ]:
x=fdata.iloc[:,:-1].values
y=fdata.iloc[:,1].values

from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=0)

from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(xtrain,ytrain)

print('Training complete!')

In [ ]:
line=regressor.coef_*x+regressor.intercept_
plt.scatter(x,y)
plt.plot(x,line);
plt.show()

In [ ]:

print(xtest)
ypred=regressor.predict(xtest)

In [ ]:
df=pd.DataFrame({'Actual':ytest,'Predicted':ypred})
df

In [ ]:
np.shape(df)

In [ ]:
hours=9.25
own_pred = regressor.predict([[hours]])
print("No of Hours = {}".format(hours))
print("Predicted Score = {}".format(own_pred[0]))

In [ ]:
from sklearn import metrics  
print('Mean Absolute Error:', 
      metrics.mean_absolute_error(ytest, ypred))